<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bpoint.auth">
	<insert id="insertUser" parameterType="com.bettopia.game.model.auth.UserVO">
    	INSERT INTO user (uid, user_name, password, nickname, email, birth_date, phone_number, agree_privacy)
    	VALUES (#{uid}, #{user_name}, #{password}, #{nickname}, #{email}, #{birth_date}, #{phone_number}, #{agree_privacy})
  	</insert>
	<select id="findByEmail"
		resultType="com.bettopia.game.model.auth.UserVO">
		SELECT *
		FROM user
		WHERE email = #{email}
	</select>
	<select id="findByUid"
		resultType="com.bettopia.game.model.auth.UserVO">
		SELECT *
		FROM user
		WHERE uid = #{uid}
	</select>
	<insert id="updateRefreshToken" parameterType="map">
		INSERT INTO auth_token (uid, user_uid, refresh_token, created_at)
		VALUES (#{uid}, #{userUid}, #{refreshToken}, NOW())
		ON DUPLICATE KEY UPDATE
		refresh_token = #{refreshToken},
		created_at = NOW()
	</insert>
	<update id="updateLastLoginAt" parameterType="String">
	    UPDATE user
	    SET last_login_at = NOW()
	    WHERE uid = #{uid}
	</update>
	<select id="countByEmail" resultType="int">
	    SELECT COUNT(*) FROM user
	    WHERE email = #{email}
 	</select>
	<select id="countByNickname" resultType="int">
	    SELECT COUNT(*) FROM user
	    WHERE nickname = #{nickname}
 	</select>
 	<select id="countByPhoneNumber" resultType="int">
	    SELECT COUNT(*) FROM user
	    WHERE phone_number = #{phone_number}
 	</select>

    <update id="updateUserPoint" parameterType="com.bettopia.game.model.auth.UserVO">
        UPDATE user
        SET point_balance = #{point_balance}
        WHERE uid = #{uid}
    </update>

    <!-- 회원 정보 수정 -->
    <update id="update" parameterType="userVO">
        update user set
		password = #{password},
		nickname = #{nickname},
		phone_number = #{phone_number},
		profile_img = #{profile_img}
        where uid = #{uid}
    </update>

    <!-- 포인트 충전 -->
    <update id="addPoint" parameterType="map">
        update user set
		point_balance = point_balance + #{point}
        where uid = #{uid}
    </update>

	<update id="losePoint" parameterType="map">
		update user set
		point_balance = point_balance - #{point}
		where uid = #{uid}
	</update>
</mapper>