<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bpoint.gameroom">

    <!-- 게임방 리스트 조회 -->
    <select id="selectAll" resultType="gameRoomResponseDTO$GameRoomDTO">
        select * from game_room order by created_at
    </select>

    <!-- 게임방 상세 조회 -->
    <select id="selectById" parameterType="String" resultType="gameRoomResponseDTO$GameRoomDTO">
        select * from game_room where uid = #{roomId}
    </select>

    <!-- 게임방 생성 -->
    <insert id="insert" parameterType="gameRoomResponseDTO$InsertGameRoomResponseDTO">
        insert into game_room(uid, title, min_bet, host_uid, game_uid)
        values(#{uid}, #{title}, #{min_bet}, #{host_uid}, #{game_uid})
    </insert>

    <!-- 게임방 수정 -->
    <update id="update" parameterType="gameRoomResponseDTO$UpdateGameRoomResponseDTO">
        update game_room set
        title = #{title},
        game_uid = #{game_uid}
        where uid = #{uid}
    </update>

    <!-- 게임방 삭제 -->
    <delete id="delete" parameterType="String">
        delete from game_room where uid = #{roomId}
    </delete>

</mapper>