<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bpoint.gameLevel">

  <select id="selectByGameUid"
          resultType="com.bettopia.game.model.game.GameLevelDTO"
          parameterType="String">
    SELECT
      uid,
      game_uid AS gameUid,
      level,
      probability,
      reward
    FROM game_level
    WHERE game_uid = #{gameUidzd}
  </select>

</mapper>